
/* Estilo para la imagen de la galería */
.imagen-galeria {
    overflow: hidden;
    position: relative;

    img {
        transition: transform 0.3s ease;
        width: 300px;
        height: auto;


        &:hover {
            transform: scale(1.2);
        }
    }
}

.bg-transparent {
    background-color: transparent !important;
}

.main-section-podcast {
    margin-top: 50px; 
    margin-bottom: 50px;
    

}

.image-container{
    margin-top: 20px; 
    margin-bottom: 20px;
    max-width: 80%; 
}

picture {
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }}

    .subscription-form-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;}