
/* Estilo para la imagen de la galería */
.imagen-galeria {
    overflow: hidden;
    position: relative;

    img {
        transition: transform 0.3s ease;
        width: 300px;
        height: auto;


        &:hover {
            transform: scale(1.2);
        }
    }
}

.bg-transparent {
    background-color: transparent !important;
}

.main-section-podcast {
    margin-top: 50px; 
    margin-bottom: 50px;
    

}

.image-container{
    margin-top: 20px; 
    margin-bottom: 20px;
    max-width: 100%; 
}

picture {
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }}

    .subscription-form-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .form-control {
            width: calc(100% - 120px); /* Ajusta el ancho del campo de entrada */
            margin-right: 10px;
        }
    
        .btn-subscribir {
            width: 100px;
            color: #fff;
            background-color: #05204A; /* Color principal */
            border-color: #05204A; /* Color principal */
            transition: background-color 0.3s ease, border-color 0.3s ease; /* Efecto de transición */
        
            &:hover {
                background-color: #FCA311; /* Color de paleta SME */
                border-color: #FCA311; /* Color de paleta SME */
            }
        }
    }

    


        .card-img-top {
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: rotate(10deg);
}
.card-img-top {
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: rotate(10deg);
}
//Testimonios

.testimonials-container {
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.testimonials-title {
    text-align: center;
}

.testimonials-subtitle {
    text-align: center;
    margin-bottom: 30px; 
}

.testimonial-card {
    border: 1px solid #eaeaea; 
    border-radius: 10px; 
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.testimonial-card-title {
    color: #333;
    font-size: 20px; 
    margin-bottom: 15px; 
}

.testimonial-card-text {
    color: #666; 
    font-size: 16px; 
}

.testimonial-card-author {
    color: #999; 
    font-size: 14px; 
}
