
    /* Reset de estilos */
    $espacio-ext: 20px;
    $espacio-int: 20px;
    $font-familia: "Roboto", sans-serif;
    $font-titulo: "League Gothic", sans-serif;
    $alto-header: 100px; /* Altura del encabezado */
    $alto-footer: 100px; /* Altura del pie de página */
    $tamano-icono: 100px; /* Tamaño de los iconos */
