  // Definimos los estilos base para los botones
.btn {
    color: #fff;
    background-color: #05204A; /* Color principal */
    border-color: #05204A; /* Color principal */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Efecto de transición */

    &:hover {
        background-color: #FCA311; /* Color de paleta SME */
        border-color: #FCA311; /* Color de paleta SME */
    }

    &.btn-success {
        color: #CC2936; /* Color de paleta SME */
    }

    &.btn-primary {
        background-color: #750dfd; /* Color de paleta SME */
        border-color: #750dfd; /* Color de paleta SME */

        &:hover {
            background-color: #3f0987; /* Color de paleta SME */
            border-color: #3f0987; /* Color de paleta SME */
        }
    }
}

// Extendemos los estilos para los botones específicos
.btn-subscribir {
    @extend .btn;
    background-color: #FCA311;
    border-color: #FCA311;

    &:hover {
        background-color: #CC2936;
        border-color: #CC2936;
    }
}



// Animación imghvr-flip-diag-1
.imghvr-flip-diag-1 {
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.imghvr-flip-diag-1:hover {
    transform: rotateY(-180deg);
}
.container-fluid {
    .row {
        .col-sm-12 {
            img {
                width: 100%;
            }
        }
    }
}

// Animación Podcast Lily

figure.effect-lily {
    position: relative;
}

figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
    position: absolute;
    top: 50%; 
    left: 0;
    width: 100%;
    padding: 2em;
    text-align: left;
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
}

figure.effect-lily h2,
figure.effect-lily p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
    color: #000;
}

figure.effect-lily h2 {
    font-size: 24px;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
    font-size: 18px;
    font-weight: bold;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
    opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

// Imagenes Podcast
.episode-container {
    display: flex;

    .episode-img {
        flex: 0 0 auto;
        margin-right: 20px; 

        img {
            width: 40%; 
            height: auto; 
        }
    }


.fw {
    max-width: auto; 
}
}

    .episode-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px; /* Ajusta el espacio entre los episodios */
    }

    .episode-img {
        flex-shrink: 0; /* Evita que la imagen se reduzca demasiado */
        margin-right: 20px; /* Ajusta el espacio entre la imagen y el texto */
    }

    .episode-img img {
        max-width: 100%; /* Ajusta el ancho máximo de la imagen */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .episode-details {
        flex-grow: 1; /* Permite que el texto ocupe todo el espacio restante */
    }

     // Estilo para el botón "Ver más" 
     .show-more-btn {
        background-color: #007bff; 
        color: #fff; 
        border: none; 
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        max-width: 150px; 
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Cambiar estilo al pasar el mouse sobre el botón */
    .show-more-btn:hover {
        background-color: #0056b3; 
    }

    //Error 404

    .figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .figure img {
        max-width: 100%;
    }
    
    .text-white {
        color: white;
    }
    
